<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>

<body>
    <header>
        <div class="main">
            <img rel="stylesheet" src="{{ url_for('static', filename='css/Website Header.gif') }}" />
        </div>
    </header>
    <br>
    <section>
        <h1>JAMILLA MORGAN</h1>
        <p>Jamilla [redacted] Morgan is here. She will not fail, for Christ is with her. She is an ambassador, a warrior, a scholar and a creator. The Lord has blessed and is blessing her. Who would she be without Him?</p>
    </section>
</body>
</html>